@import "../sizes.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  width: 95% !important;
  .button {
    width: 200px;
    height: 58px;
    filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.08));
    background: #ffffff;
    border-radius: 10px;
    border: 0;
    font-family: "Avenir Next";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.3px;
    color: #eb3349;
    &.inverted {
      color: #ffffff !important;
      background: #eb3349 !important;
    }

    @media screen and (max-width: $tablet-breakpoint) {
      width: 133px;
      height: 48px;
      font-weight: 600;
      font-size: 14px;
      line-height: 19px;
    }
  }
}
