@import "~bulma";
@import "./sizes.scss";

@font-face {
  font-family: "Avenir Next";
  src: url("../fonts/AvenirNext-Regular.woff2") format("woff2"),
    url("../fonts/AvenirNext-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.hero-section {
  width: 100vw;
  position: relative;
  margin: 0;
  background-size: cover;
  background-position: bottom;
  background-image: url("../img/hero.svg");
  background-position: top left;
  padding-bottom: 35px;
  @media screen and (max-width: $tablet-breakpoint) {
    background-image: url("../img/hero-mobile.svg");
    padding-bottom: 70px;
  }

  .content-wrapper {
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .columns {
      width: 100vw;
      .column {
        display: flex;
        align-items: center;
      }
      @media screen and (max-width: $tablet-breakpoint) {
        .column {
          justify-content: center;
        }
      }
    }
    .content {
      h1 {
        font-family: "Avenir Next";
        font-style: normal;
        font-weight: 600;
        font-size: 72px;
        color: #000000;
        margin-top: 70px;
        margin-bottom: 70px;
      }
      p {
        font-family: "Avenir Next";
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 40px;
        color: #707070;
        margin-top: 70px;
        margin-bottom: 70px;
      }
      .app-buttons {
        display: flex;
        margin-top: 70px;
        margin-bottom: 70px;

        .button-app,
        .button-play {
          width: 209px;
          margin-right: 20px;
        }
        @media screen and (max-width: $tablet-breakpoint) {
          justify-content: center;
          max-width: 90vw;
          margin-top: 30px;
          margin-bottom: 30px;
          .button-app,
          .button-play {
            width: 155px;
            margin-right: 10px;
            margin-left: 10px;
          }
        }
      }
      @media screen and (max-width: $tablet-breakpoint) {
        text-align: center;
        justify-content: center;
        h1 {
          font-size: 36px;
          line-height: 50px;
          margin-top: 30px;
          margin-bottom: 30px;
        }
        p {
          font-size: 18px;
          line-height: 40px;
          margin-top: 30px;
          margin-bottom: 30px;
        }
      }
    }
  }
}

.heroImage {
  flex: 1;
  max-width: 857px;
  max-height: 628px;
  @media screen and (max-width: $tablet-breakpoint) {
    max-width: 495px;
    max-height: 363px;
  }
}
