@import "~bulma";

$tablet-breakpoint: 1024px;

body {
  margin: 0;
}

.hero-section {
  width: 100vw;
  position: relative;
  margin: 0;
  background-size: cover;
  background-position: bottom;
  background-image: url("../img/hero.svg");
  background-position: top left;
  padding-bottom: 35px;
  @media screen and (max-width: $tablet-breakpoint) {
    background-image: url("../img/hero-mobile.svg");
    padding-bottom: 70px;
  }

  .content-wrapper {
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .columns {
      width: 100vw;
      .column {
        display: flex;
        align-items: center;
      }
      @media screen and (max-width: $tablet-breakpoint) {
        .column {
          justify-content: center;
        }
      }
    }
    .content {
      h1 {
        font-family: "Avenir Next";
        font-style: normal;
        font-weight: 600;
        font-size: 72px;
        color: #000000;
        margin-top: 70px;
        margin-bottom: 70px;
      }
      p {
        font-family: "Avenir";
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 40px;
        color: #707070;
        margin-top: 70px;
        margin-bottom: 70px;
      }
      .app-buttons {
        display: flex;
        margin-top: 70px;
        margin-bottom: 70px;

        .button-app,
        .button-play {
          width: 209px;
          margin-right: 20px;
        }
        @media screen and (max-width: $tablet-breakpoint) {
          justify-content: center;
          max-width: 90vw;
          margin-top: 30px;
          margin-bottom: 30px;
          .button-app,
          .button-play {
            width: 155px;
            margin-right: 10px;
            margin-left: 10px;
          }
        }
      }
      @media screen and (max-width: $tablet-breakpoint) {
        text-align: center;
        justify-content: center;
        h1 {
          font-size: 36px;
          line-height: 50px;
          margin-top: 30px;
          margin-bottom: 30px;
        }
        p {
          font-size: 18px;
          line-height: 40px;
          margin-top: 30px;
          margin-bottom: 30px;
        }
      }
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  width: 90vw;
  .button {
    width: 200px;
    height: 58px;
    filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.08));
    background: #ffffff;
    border-radius: 10px;
    border: 0;
    font-family: "Avenir Next";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.3px;
    color: #eb3349;

    @media screen and (max-width: $tablet-breakpoint) {
      width: 133px;
      height: 48px;
      font-weight: 600;
      font-size: 14px;
      line-height: 19px;
    }
  }
}

.heroImage {
  flex: 1;
  max-width: 857px;
  max-height: 628px;
  @media screen and (max-width: $tablet-breakpoint) {
    max-width: 495px;
    max-height: 363px;
  }
}

.main-content {
  padding-top: 70px;
  h1 {
    font-family: "Avenir Next";
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 60px;
    letter-spacing: 0.2px;
    color: #000000;
    position: relative;
    z-index: 1;
    &:before {
      content: "";
      position: absolute;
      width: 395px;
      height: 11px;
      left: 0;
      top: 40px;
      z-index: -1;
      background: #faebf0;
    }
  }
  .text-block {
    margin-top: 90px;
    margin-bottom: 90px;
    @media screen and (max-width: $tablet-breakpoint) {
      margin-top: 45px;
      margin-bottom: 45px;
      &.reverse {
        display: flex;
        flex-direction: column-reverse;
      }
    }
    .image {
      max-width: 480px;
      margin: auto;
      @media screen and (max-width: $tablet-breakpoint) {
        margin: 20px;
      }
    }
    .divider {
      width: 80px;
      height: 2px;
      left: 700px;
      top: 1281px;
      background: #ececec;
      margin-bottom: 40px;
      @media screen and (max-width: $tablet-breakpoint) {
        margin-top: 0px;
        margin-bottom: 20px;
      }
    }
    .text {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 50px;
      @media screen and (max-width: $tablet-breakpoint) {
        padding: 30px;
      }
      .title {
        font-family: "Avenir Next";
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 60px;
        letter-spacing: 0.2px;
        color: #000000;
        @media screen and (max-width: $tablet-breakpoint) {
          font-size: 24px;
          line-height: 50px;
        }
      }
      .description {
        font-family: "Avenir Next";
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 35px;
        color: #707070;
        @media screen and (max-width: $tablet-breakpoint) {
          font-size: 18px;
          line-height: 35px;
        }
      }
      .additional-text {
        margin-top: 40px;
        font-family: "Avenir Next";
        font-style: normal;
        font-weight: 600;
        color: #000000;
        font-size: 24px;
        line-height: 35px;
        @media screen and (max-width: $tablet-breakpoint) {
          font-size: 18px;
          line-height: 35px;
        }
      }
      .links {
        margin-top: 40px;
        display: flex;
        width: 30%;
        justify-content: space-between;
        @media screen and (max-width: $tablet-breakpoint) {
          width: 50%;
        }
        .link {
          font-family: "Avenir Next";
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 35px;
          text-decoration-line: underline;
          a {
            color: #eb3349;
          }
          @media screen and (max-width: $tablet-breakpoint) {
            font-size: 18px;
            line-height: 35px;
          }
        }
      }
    }
  }
}

.form-content {
  position: relative;
  background: #ffebeb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: bottom;
  background-image: url("../img/form-background.svg");
  background-position: top left;
  z-index: 1;
  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 110px;
    height: 24px;
    background-image: url("../img/form-section-corner-bottom.svg");
    background-repeat: no-repeat;
    right: 170px;
    bottom: -30px;
  }
  .divider {
    width: 80px;
    height: 2px;
    background: #afafaf;
    margin-bottom: 40px;
    @media screen and (max-width: $tablet-breakpoint) {
      margin-top: 0px;
      margin-bottom: 20px;
    }
  }
  .title {
    font-family: "Avenir Next";
    font-style: normal;
    font-weight: 600;
    font-size: 54px;
    line-height: 50px;
    color: #000000;
    margin-top: 60px;
    @media screen and (max-width: $tablet-breakpoint) {
      font-size: 36px;
      line-height: 50px;
      margin-top: 40px;
    }
  }
  .form-area {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    max-width: 960px;
    min-height: 628px;
    @media screen and (max-width: $tablet-breakpoint) {
      width: 90%;
    }
    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 110px;
      height: 75.48px;
      background-image: url("../img/form-top-background.svg");
      background-repeat: no-repeat;
      top: -30px;
      left: -40px;
      z-index: -1;
    }
    .form-field {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 50%;
      padding: 30px;
      @media screen and (max-width: $tablet-breakpoint) {
        width: 100%;
      }
      &.message-box {
        width: 100%;
      }
      label {
        font-family: "Avenir Next";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
        color: #000000;
        margin-bottom: 35px;
      }
      input {
        width: 100%;
        height: 58px;
        background: #ffffff;
        border: 1px solid #c3cad9;
        box-sizing: border-box;
        border-radius: 8px;
        font-family: "Avenir Next";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        color: #000000;
        padding: 20px;
      }
      textarea {
        width: 100%;
        height: 203px;
        background: #ffffff;
        border: 1px solid #c3cad9;
        box-sizing: border-box;
        border-radius: 8px;
        font-family: "Avenir Next";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        color: #000000;
        padding: 20px;
      }
    }
    button {
      width: 224px;
      height: 58px;
      background: #eb3349;
      border-radius: 8px;
      font-family: "Avenir Next";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      color: #ffffff;
      border: 0px;
      justify-self: flex-end;
      align-self: flex-end;
      margin-top: 30px;
    }
  }
}
