@import "../../components/sizes.scss";
.notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-family: "Avenir Next";
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 80px;
    color: #000000;
    margin: 30px;
    @media screen and (max-width: $tablet-breakpoint) {
      font-size: 24px;
      line-height: 80px;
    }
  }
  p {
    font-family: "Avenir Next";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    color: #707070;
    margin: 30px;
    @media screen and (max-width: $tablet-breakpoint) {
      font-size: 20px;
      line-height: 35px;
    }
  }

  img {
    width: 1200.83px;
    height: 789.62px;
    @media screen and (max-width: $tablet-breakpoint) {
      width: 395.34px;
      height: 382.32px;
    }
  }
}
.button {
  width: 200px;
  height: 58px;
  margin: 30px;
  filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.08));
  background: #ffffff;
  border-radius: 10px;
  border: 0;
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: -0.3px;
  color: #ffffff !important;
  background: #eb3349 !important;

  @media screen and (max-width: $tablet-breakpoint) {
    width: 133px;
    height: 48px;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
  }
}
